/*公共样式*/
.w{
  width:990px;
  margin:0 auto;
}
a:hover{
   color:red;
}
/*右侧导航栏 开始*/
#right-nav{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 35px;
    background: #000;
    z-index: 10000;
}
.right-nav-tm{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 25%;
    left: 0px;
    /*background: #fff;*/
    line-height: 35px;
    text-align: center;
}
.right-nav-tm .icon-tianmaoline{
    font-size: 22px;
    /*color: #fff;*/
    color:#fff;
}
.right-nav-shop{
    position: absolute;
    top: 31%;
    left: 0;
    height: 100px;
    width: 35px;
    box-sizing: border-box;
    padding:0px 6px;
    text-align: center;
}
.right-nav-shop .icon-jiarugouwuche{
    font-size: 22px;
    font-weight: bold;
    color: #ff0036;
}
.right-nav-shop .icon-jiarugouwuche:hover{
    color:#fff;
}
.right-nav-shop-p{
    font-size: 13px;
    color: #fff;
}
.right-nav-shop-span{
    display: inline-block;
    width: 25px;
    height: 100px;
    box-sizing: border-box;
    /*padding-top: 5px;*/
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.right-nav-tm1{
    position: absolute;
    top: 46%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm1 .icon-qian01{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm2{
    position: absolute;
    top: 52%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm2 .icon-shoucang{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm3{
    position: absolute;
    top: 58%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm3 .icon-lishijilu{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm4{
    position: absolute;
    top: 64%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm4 .icon-chongzhi{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm5{
    position: absolute;
    bottom: 10%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm5 .icon-fankui{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm6{
    position: absolute;
    bottom: 5%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm6 .icon-erweima{
    font-size: 20px;
    color: #fff;
}
.right-nav-tm7{
    position: absolute;
    bottom: 0%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
.right-nav-tm7 .icon-fanhuidingbu3{
    font-size: 20px;
    color: #fff;
}
.tm-1:hover{
    background: #f00;
}
.right-nav-shop-span:hover{
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
}
.right-nav-shop-span:hover i{
    color:#fff;
}
.right-nav-zi{
    position: absolute;
    right: 40px;
    top: 0px;
    width: 80px;
    height: 35px;
    background: #494949;
    color: #fff;
    font-size: 12px;
    z-index: 5;
    transform: translateX(-30px);
    opacity: 0;
    transition: all 1s;
    visibility: hidden;
}
.right-nav-jiao{
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    top: 10px;
    right: -8px;
    color: #494949;
}
.tm-1:hover .right-nav-zi{
    transform: translate(5px);
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}
.right-nav-sao{
    position: absolute;
    top: -161px;
    right: 34px;
    width: 155px;
    height: 207px;
    background: url(../images/right-sao.png) no-repeat;
    z-index: 999999;
    cursor: default;
    display: none;
}
.right-nav-erwei{
    position: absolute;
    left: 22px;
    top: 44px;
    height: 155px;
    width: 145px;
    background: url(../images/right-erwei.jpg) no-repeat;
    background-size: 110px 110px; 
}
.right-nav-ma{
    position: absolute;
    left: 10px;
    bottom: 13px;
    width: 145px;
    height: 44px;
    background: url(../images/right-ma.png) no-repeat;
}
.right-nav-jiao1{
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    top: 170px;
    right: -7px;
    color: #ff0036;
}
.tm-1:hover .right-nav-sao{
    display: block;
}
/*right-nav end*/
/*右侧导航栏 结束*/
/*头部开始*/
.header-wrap{
    float:left;
    width:100%;
    height:30px;
    border-bottom: 1px solid #E5E5E5;
    background:#F2F2F2;
}
.header-wrap .header{
    width:990px;
    height:30px;
    /*border:1px solid red;*/
    margin:0 auto;
}
.header-wrap .header .left{
    float:left;
    width:353px;
    height:30px;
    /*border:1px solid red;*/
}
.header-wrap .header .left .index{
	float: left;
	width:80px;
	height:30px;
	margin-right:12px;
	border:1px solid transparent;
}
.header-wrap .header .left .index i{
    float:left;
    color:red;
    border:1px solid transparent;
    margin-right:3px;
    /*font-size:14px;*/
}
.header-wrap .header .left .index>a{
	float: left;
	color:#999999;
	padding-top:5px;
}
.header-wrap .header .left span,.header-wrap .header .left .a1{
    float: left;
    line-height:30px;
    margin-right:10px;
    color:#999999;
    border:1px solid transparent;
}
.header-wrap .header .left a:hover{
	color:red;
}
.header-wrap .header .right{
    float:right;
    width:415px;
    height:30px;
    /*border:1px solid blue;*/
}
.right .right-one{
    float:left;
    position:relative;
    width:84px;
    height:30px;
    border:1px solid transparent;
    z-index: 1000;
}
.right .right-one>a{
    float:left;
    width:75px;
    height:30px;
    margin:4px 0px 0px 6px;
    /*border:1px solid red;*/

}
.right .right-one:hover{
    border:1px solid #ccc;
    background:#fff;
    border-bottom:transparent;
}
.right .right-one:hover >a,.right .right-one ul li:hover >a{
    text-decoration: underline;
    color:red;
}
.right .right-one span{
    float:left;
    margin:4px 0px 0px -20px;
    transition:transform 0.3s ease-in;
    transform:rotate(0deg);
    /*border:1px solid red;*/
}
.right .right-one:hover span{
     transform:rotate(180deg);
}
.right .right-one ul{
    position:absolute;
    left:-1px;
    top:30px;
    width:110px;
    height:72px;
    border:1px solid #ccc;
    background:#fff;
    display: none;
}
.right .right-one ul li{
    margin:7px 0px 0px 6px;
}
.right .right-one:hover ul{
    display: block;
    border-top:transparent;
}
.right .right-two{
    float:left;
    width:100px;
    height:30px;
    /*border:1px solid red;*/
}
.right .right-two>i{
    float:left;
    margin:2px 0px 0px 6px;
    font-size: 20px;
    color:red;
}
.right .right-two a{
    float:left;
    margin:5px 0px 0px 3px;
}
.right .right-two a b{
    color:#6F6F6F;
}
.right .right-three{
    float:left;
    position:relative;
    width:70px;
    height:30px;
    margin-left:0px;
    z-index: 1000;
    border:1px solid transparent;
}
.right .right-three>a{
    float:left;
    width:58px;
    height:30px;
    margin:3px 0px 0px 6px;
    border:1px solid transparent;
}
.right .right-three:hover{
    border:1px solid #ccc;
    background:#fff;
    border-bottom:transparent;
}
.right .right-three:hover >a,.right .right-three ul li:hover >a{
    text-decoration: underline;
}
.right .right-three span{
    float:left;
    margin:5px 0px 0px -15px;
    transition:transform 0.3s ease-in;
    transform:rotate(0deg);
    /*border:1px solid red;*/
}
.right .right-three:hover span{
   transform:rotate(180deg);
}
.right .right-three ul{
    position:absolute;
    left:-1px;
    top:30px;
    width:93px;
    height:72px;
    border:1px solid #ccc;
    background:#fff;
    display: none;
}
.right .right-three ul li{
    margin:7px 0px 0px 6px;
}
.right .right-three:hover ul{
    display: block;
    border-top:transparent;
}
.right>span{
    float:left;
    margin:5px 0px 0px 5px;
}
.right p{
    float:left;
    /*border:1px solid red;*/
    margin:5px 0px 0px 15px;
}
.right .right-five{
    float:left;
    width:80px;
    height:30px;
    margin:0px 0px 0px 11px;
    position:relative;
    z-index:1000;
    border:1px solid transparent;
}
.right .right-five:hover{
    border:1px solid #ccc;
    border-bottom:1px solid transparent;
    background:#fff;
}
.right .right-five a{
    float: left;
    margin:4px 0px 0px 7px;
}
.right .right-five span{
    float: left;
    margin:4px 0px 0px 0px;
    transition:transform 0.3s ease-in;
    transform:rotate(0deg);
}
.right .right-five:hover span{
   transform:rotate(180deg);
}
.right .right-five ul{
    position:absolute;
    left:-85px;
    height:242px;
    top:30px;
    width:164px;
    border:1px solid #ccc;
    background:#fff;
    border-top:1px solid transparent;
    display: none;
    z-index: 1000;
}
.right .right-five ul hr{
    width:128px;
    border:1px dotted #ccc;
    margin:0px 0px 0px 17px; 
}
.right .right-five ul h3,.right .right-five ul li{
    margin:10px 0px 0px 17px;

}
.right .right-five ul h2{
    font-size:18px;
}
.right .right-five:hover ul{
    display: block;
}
.right .right-five ul li:hover a{
    text-decoration: underline;
}
/*头部结束*/
/*天猫LOGO 和 搜索框 开始*/
.headerCon-wrap{
	float:left;
	width:100%;
	height:92px;
}
.headerCon-wrap .headerCon{
	height:92px;
	/*border:1px solid red;*/
}   
.headerCon-wrap .headerCon>img{
	float:left;
	margin-top:35px;
}
.headerCon-wrap .headerCon .Sheader{
	float: left;
	width:547px;
	height:37px;
	margin:32px 0px 0px 244px;
	/*border:1px solid red;*/
}
.headerCon .Sheader .search{
	float: left;
	width:450px;
	height:30px;
	border:3px solid #FF0036;
	outline: none;
}
.headerCon .Sheader .btn1{
	float:left;
	width:90px;
	height:36px;
	border:0px;
	color:#fff;
	font-size:16px;
	outline: none;
	background:#FF0036;
}
/*天猫LOGO 和 搜索框 结束*/
/*广告栏 开始*/
.mui-macro{
	float:left;
	width:100%;
	height:125px;
}
.mui-macro .mui{
    height:125px;
    /*border:1px solid red;*/
}
.mui-macro .mui img{
	width:100%;
	height:125px;
}
/*广告栏 结束*/
/*全球时令水果甄选 开始*/
.classify-wrap{
	float:left;
	width:100%;
	height:116px;
}
.classify-wrap .classify{
	height:116px;
	/*border:1px solid red;*/
}
.classify-wrap .classify img{
	width:100%;
	height:91px;
}
.zebra-act-item{
	float:left;
	width:100%;
	/*height:1110px;*/
}
.zebra-act-item .zebra-act{
	/*height:1110px;*/
	/*border:1px solid blue;*/
}
.zebra-act-item .zebra-act ul li{
	float: left;
	width:240px;
	height:360px;
	margin:0px 10px 10px 0px;
	/*background:red;*/
	/*border:1px solid red;*/
}
.zebra-act-item .zebra-act ul .li4{
	margin-right:0px;
}
.zebra-act ul li .pic{
	position: relative;
	width:240px;	
	height:240px;
}
.zebra-act ul li .pic a img{
	position: absolute;
	width:100%;
}
/*.zebra-act ul li .pic a p{
	position: absolute;
	width:240px;
	height:;
	margin:0 auto;
	background:rgba(0,0,0,0.8);
}*/
.pic a .item-title-wrapper{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:20px;
	line-height:20px;
}
.item-title-wrapper .item-title-bg{
	display: block;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:20px;
	background:rgba(0,0,0,0.5);
}
.item-title-wrapper .item-title{
	display: block;
	position:absolute;
	left:0;
	top:0;
	width:70%;
	padding:0 15%;
	color:#fff;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zebra-act ul li .info-box{
	position:relative;
	z-index:1;
	background:#fff;
	overflow: hidden;

}
.zebra-act ul li .info-box .desc{
	height:30px;
	line-height: 30px;
	text-align: center;
	color:#f40b4c;
	font-family:'Microsoft YaHei';
	font-weight:700;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zebra-act ul li .info-box .box-sep{
	display: block;
	height:1px;
	background:#FBCDD7;
	opacity:2;
	font-size:0;
	line-height: 0;
}
.info-box  .info-detail{
	position: relative;
}
.info-detail .logo{
	height:35px;
	padding:10px 0 10px 15px;
}
.info-detail .price-box{
	position: absolute;
	right:-12px;
	top:0;
	text-align:center;
	width:138px;
	overflow:hidden;
}
.info-detail .price-box .oprice{
	font-size:14px;
	margin-top:8px;
}
.info-detail .price-box .oprice span{
	text-decoration: line-through;
}
.info-detail .price-box .price{
	font-size:14px;
    font-weight:700;
    color:#ee0d3b;
}
.zebra-act ul li .action-box{
	background:#ee0d3b;
	line-height:30px;
	color:#fff;
	height:30px;
	text-align: center;
	overflow: hidden;
}

/*全球时令水果甄选 结束*/
/*甄选 全球 开始*/
.North-America{
	float:left;
	width:100%;
	height:610px;
}
.North-America .America{
	position: relative;
	height:610px;
}
.North-America .America .area-item{
	position: absolute;
}
/*甄选 全球 结束*/

/*从新改版的li 五个模块 开始*/
.zebra-act-item-1{
	float:left;
	width:100%;
	/*height:1110px;*/
}
.zebra-act-item-1 .zebra-act-1{
	/*height:1110px;*/
	/*border:1px solid blue;*/
}
.zebra-act-item-1 .zebra-act-1 ul li{
	float: left;
	width:190px;
	height:310px;
	margin:0px 10px 10px 0px;
	/*background:red;*/
	/*border:1px solid red;*/
}
.zebra-act-item-1 .zebra-act-1 ul .li4{
	margin-right:0px;
}
.zebra-act-1 ul li .pic-1{
	position: relative;
	width:190px;	
	height:190px;
}
.zebra-act-1 ul li .pic-1 a img{
	position: absolute;
	width:100%;
}
/*.zebra-act ul li .pic a p{
	position: absolute;
	width:240px;
	height:;
	margin:0 auto;
	background:rgba(0,0,0,0.8);
}*/
.pic-1 a .item-title-wrapper-1{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:20px;
	line-height:20px;
}
.item-title-wrapper-1 .item-title-bg-1{
	display: block;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:20px;
	background:rgba(0,0,0,0.5);
}
.item-title-wrapper-1 .item-title-1{
	display: block;
	position:absolute;
	left:0;
	top:0;
	width:70%;
	padding:0 15%;
	color:#fff;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zebra-act-1 ul li .info-box-1{
	position:relative;
	z-index:1;
	background:#fff;
	overflow: hidden;

}
.zebra-act-1 ul li .info-box-1 .desc-1{
	height:30px;
	line-height: 30px;
	text-align: center;
	color:#f40b4c;
	font-family:'Microsoft YaHei';
	font-weight:700;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zebra-act-1 ul li .info-box-1 .box-sep-1{
	display: block;
	height:1px;
	background:#FBCDD7;
	opacity:2;
	font-size:0;
	line-height: 0;
}
.info-box-1  .info-detail-1{
	position: relative;
}
.info-detail-1 .logo-1{
	height:35px;
	padding:10px 0 10px 0px;
}
.info-detail-1 .price-box-1{
	position: absolute;
	right:-12px;
	top:0;
	text-align:center;
	width:138px;
	overflow:hidden;
}
.info-detail-1 .price-box-1 .oprice-1{
	font-size:14px;
	margin-top:8px;
}
.info-detail-1 .price-box-1 .oprice-1 span{
	text-decoration: line-through;
}
.info-detail-1 .price-box-1 .price-1{
	font-size:14px;
    font-weight:700;
    color:#ee0d3b;
}
.zebra-act-1 ul li .action-box-1{
	background:#ee0d3b;
	line-height:30px;
	color:#fff;
	height:30px;
	text-align: center;
	overflow: hidden;
}
/*从新改版的li 五个模块 结束*/
/*尾部 服务指南 开始*/
.footer-wrap{
    float:left;
    width:100%;
    height:328px;
    margin-top:10px;
    background:#fff;
    border-top:1px solid #ccc;
    border-bottom:2px solid red;
}
.footer-wrap .footer{
    height:328px;
    /*border:1px solid red;*/
}
.footer-wrap .footer .zhinan{
    /*float:left;*/
    width:990px;
    height:100px;
    /*margin-left:61px;*/
    /*border:1px solid red;*/
}
.footer-wrap .footer .zhinan a img{
    width:99%;
    /*border:1px solid blue;*/
}
.footer-wrap .footer .tmall-desc{
    /*float: left;*/
    width:990px;
    height:212.99px;
    margin-top:10px;
    border-top:1px solid #eee;

}
.footer-wrap .footer .tmall-desc ul{
    float:left;
    margin:19px 40px 0px 41px;
    /*border:1px solid green;*/
}
.footer-wrap .footer .tmall-desc ul li{
    /*border:1px solid blue;*/
    padding:0px 0px 0px 0px;
}
.footer-wrap .footer .tmall-desc ul li .DZT{
    font-size:18px;
    color:black;
}
.footer-wrap .footer .tmall-desc ul .maotou{
    width:68px;
    height:25px;
    margin-top:86px;
}
.footer-wrap .footer .tmall-desc ul .maotou img{
    width:100%;
}
.footer-wrap .footer .Code{
    float:left;
    width:115px;
    height:143px;
    margin:20px 0px 0px 186px;
}
.footer-wrap .footer .Code h3{
    font-size:18px;
    color:black;
    margin-bottom:5px;
}
/*尾部 服务指南 结束*/
/*底部  开始 */
.base-wrap{
    float:left;
    width:100%;
    height:193.33px;
    background:#000000;
}
.base-wrap .base{
    height:193.33px;
    /*border:1px solid red;*/
}
.base-wrap .base .tmallinfo{
    width:990px;
    height:34.44px;
    /*border:1px solid red;*/
}
.base-wrap .base .tmallinfo ul{
    height:34.44px;
    line-height: 34.44px;
}
.base-wrap .base .tmallinfo ul li{
    float:left;
    margin:0px 2px 0px 0px;
    /*border:1px solid blue;*/
}
.base-wrap .base .tmallinfo ul li a{
    color:#fff;
}
.base-wrap .base .copyright{
    width:990px;
    height:122.44px;
    color:#a4a4a4;
    /*border:1px solid orange;*/
}
.base-wrap .base .copyright a{
    margin-right:72px;
    color:#a4a4a4;
}
.base-wrap .base .copyright .jlogo{
    margin-top:-1px;
}
/*底部  结束 */





